@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100vw;
    height: 100vh;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(to bottom,blue, rgb(85, 110, 250));
    color: white;
}
header h1 {
    text-align: center;
    margin-top: 50px;
    font-weight: normal;
    
}
main {
    margin: auto;
    margin-top: 30px;
    background-color: white;
    color: black;
    width: 500px;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.534);
}
input {
    margin-top: 15px;
}
input#botao {
    width: 75px;
    height: 40px;
}
input#anoNasc {
    border: 1px solid black;
    padding: 5px;
}
footer p{
    text-align: center;
    margin-top: 10px;
    font-size: 1.3em;
    font-weight: normal;
    font-style: italic;
}
div#resul {
    margin-top: 15px;
    text-align: left;
}
img {
    
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: block;
    margin: auto;
}
